#fundotitulo {
	margin-top: -10px;
	background-color: #f4ecec;
	height: 100px;
}


#titulo {
	margin-top: -120px;
	color: #474a3b;
	text-align: center;
	font-family: Gabriola;
	font-size: 6em;	
}

body {
	background-color: #f9f9f9;
}

.acessibilidade {
	position: relative;
	top: 20px;
	width: 235px;
	background-color: #f9f9f9;
	margin-top: -40px;
	margin-left: 40px;
}

#menu ul {
	list-style: none;
	text-align: right;
	padding-right: 0px;
	margin-top: -20px;
}

#menu li {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-family: Baskerville Old Face;
	font-size: 2em;
	
}

#menu a {
	color: #8d8f83;
	text-decoration: none;
	margin-right: 50px;
}

button {
	background-color: rgb(0,0,0,0);
	border: 0px;
}


h2 {margin-left: 20px;	
	font-family: Baskerville Old Face;
	font-size: 2.5em;
}

.fernando {
	margin-top: 130px;
	font-family: Gabriola;
	font-size: 3.5em;
	margin-bottom: -20px;
}

h3 {margin-top: -10px;
	margin-left: 50px;
	margin-bottom: -30px;
	font-family: Gabriola;
	font-size: 3em;
}

p {	margin-left: 40px;
	font-family: Baskerville Old Face;
	font-size: 1.85em;
	line-height: 40px;
	padding-right: 20px;
}

iframe {
	text-align: center;
}

#destaques {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

.destaque {
	text-decoration: none;
	margin: 40px;
	text-align: left;
	font-family: Baskerville Old Face;
	font-size: 1em;
	line-height: 25px;
	color: #0a0b07;
}

#bruno {
	float: left;
	padding: 40px;
	margin-top: 0px;
}

#homepage {
	float: right;
	margin-top: -130px;
	margin-right: 20px;
	background-color: #f9f9f9;
}


#olhalvo {
	margin-top: 40px;
}

#olhalvo, #beiramar {
	float: right;
	margin-right: 40px;
	margin-left: 20px;
	
}

#lisboa {
	float: left;
	margin-left: 40px;
	margin-right: 20px;
}

#contatos {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.contato {
	margin: 50px;
	height: 100px;
	width: 400px;
	}

.contato a{
	font-family: Gabriola;
	font-size: 2em;
	color: #474a3b;
	text-decoration: none;
	
}

footer {
	background-color: #f4ecec;
	color: #dbdbd8;
	text-align: center;
	font-family: Baskerville Old Face;
	padding: 5px;
}

.prototipos {
	width: 100%;
	text-align: center;
}

#bebe {
	margin-left: 40px;
	animation-name: fade1;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#escola {
	animation-name: fade2;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#adol {
	animation-name: fade3;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#gravata {
	animation-name: fade4;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#atual {
	animation-name: fade5;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

@keyframes fade1 {
	0% {
		opacity: 0; 	
	}

	20% {
		opacity: 1;
	}

	100%	{
		opacity: 1;
	}
}

@keyframes fade2 {
	0% {
		opacity: 0; 	
	}

	20% {
		opacity: 0;
	}

	100%	{
		opacity: 1;
	}
}

@keyframes fade3 {
	0% {
		opacity: 0; 	
	}

	40% {
		opacity: 0;
	}

	100%	{
		opacity: 1;
	}
}

@keyframes fade4 {
	0% {
		opacity: 0; 	
	}

	60% {
		opacity: 0;
	}

	100%	{
		opacity: 1;
	}
}

@keyframes fade5 {
	0% {
		opacity: 0; 	
	}

	80% {
		opacity: 0;
	}

	100%	{
		opacity: 1;
	}
}

aside {
	align-content: right;
}



#formulario
{  display:block;   
}

#formulario input.btn_submit
{
  border-style:dashed;
  
}